.FormCard {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100px) translateZ(100px) scale(1.15);
    }

    50% {
        opacity: 1;
        transform: translateY(15px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateZ(0px) scale(1);
    }
}