.rippleButton {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2),
        2px 2px 5px rgba(0, 0, 0, 0.1),
        inset -2px -2px 5px rgba(255, 255, 255, 0.2),
        inset 2px 2px 5px rgba(0, 0, 0, 0.1)
}